body {
    background-image: url("starry.png");
    background-repeat: repeat;
    color: #eeeeee;
    font-family: sans-serif;
    text-align: center;
}
h1 {
    font-size: 60px;
    letter-spacing: 8px;
}

p {
    font-size: 20px;
}
