body {
    background-image: url("starry.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
h1 {
    font-size: 60px;
    letter-spacing: 8px;
}

p {
    font-size: 20px;
}
