body {
    background-image: url("starry.png");
    background-repeat: repeat;
    background-color: #000000;
    color: #eeeeee;
    font-family: sans-serif;
    text-align: center;
}
h1 {
    font-size: 60px;
    letter-spacing: 8px;
}

p {
    font-size: 20px;
}

h1 img {
    width: 600px;
    height: auto;
    image-rendering: pixelated;
}


nav {
    text-align: center;
    margin: 30px auto;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 12px;
}

nav a:hover {
    text-decoration: underline;
}

.about-text {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
}

.about p:last-child {
    margin-top: 25px;
}

.about p {
    margin-bottom: 20px;
}
